### General Development Files and Directories ###
dependencies/
Debug/
Release/
ipch/
vcprojectfiles/
*.suo
*.user
*.opensdf

eiconfig.hpp

### Compilation and Intermediate Files ###
bin/
*.[oa]
*.so
*.sdf
*.dll
*.exe
*.pyc

### OS Files ###
*~
*.DS_Store
*.db